.u-pull-none {
    @include media-query(orig) {
        float: none;
    }
}

.u-pull-left {
    @include media-query(orig) {
        float: left;
    }
}

.u-pull-right {
    @include media-query(orig) {
        float: right;
    }
}

.u-pull-center {
    @include media-query(orig) {
        margin: 0 auto;
    }
}

.u-pull-v-center {
    @include position(absolute, 50% 0px n 0px);
    transform: translateY(-50%);
    margin: 0 auto;
}
