/*scss/utilities/_u-text-color.scss*/

.u-primary {
    color: color(primary);
}

.u-secondary {
    color: color(secondary);
}

.u-tertiary {
    color:color(tertiary);
}

.u-text {
    color:color(text);
}

.u-lighten {
    color:color(light-text);
}
